#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

  p {
  font-size: 3em;
  line-height: 22px;
  width: 100%;
  color: #E68E36;
  text-align: center;

  margin: 30;
}

#container a {
  text-decoration: none;
}
